#index-body {
    margin: -3px;
    border-radius: 13px;
    border: 8px solid #ffffff;
    padding: 20px;
    min-width: 250px;
    min-height: 300px;
    background-color: #aec4c4;
}

#homebutton {
    position: fixed;
    bottom: 55px;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
}

/* Manipulates calendar.html */

#calendar-body {
    width: 500px;
    height: 400px;
    overflow: hidden;
    background-color: #aec4c4;
}
 
.month{
    width:75%;
    height: 12rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 02 rem;
    text-align: center;

}

.weekdays{
    width: 100%;
    display: flex;
    font-family: 'Fredoka';
    color: #1b392c;
    text-align: center;
    font-weight: bold;
}

.weekdays div{
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Fredoka';
    color: #1b392c;
    text-align: center;
}

.days div{
    width: calc(31.2rem/7);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming_events{
    padding: 02 rem;
    width: 100%;
    font-family: 'Fredoka';
    color: #1b392c;
}

/* Manipulates pomodoro.html */

.pomodoro-body {
    width: 500px;
    height: 300px;
    overflow: hidden;
    background-color: #aec4c4;
}

.pomodoro-title {
    font-size: 30px;
    text-align: center;
}

.pomodoro-status {
    font-size: 15px;
    text-align: center
}

.pomodoro-timer-display {
    font-size: 50px;
    text-align: center;
    font-family: 'Fredoka';
    color: #1b392c;
}

.pomodoro-timer-control {
    text-align: center;
    font-family: 'Fredoka';
    color: #1b392c;
}

.pomodoro-timer-control-btn{
    text-align: center;
    font-family: 'Fredoka';
    color: #1b392c;    
}

/* Hovering */
h1 
{
    font-family: 'Fredoka';
    color: #1b392c;
    text-align: center;
}

h3 
{
    font-family: 'Fredoka';
    color: #1b392c;
    text-align: center;
}    



.homebutns 
{   
    background-color: transparent;
    border: none;
    color: #fffdf0;
    padding: 20px 20px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    transition-duration: 0.4s;
}

.homebutns:hover
{
  background-color: #4b5f63;
  border-radius: 13px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Manipulates dayEvents.html */

.dayEvents-body {
    width: 500px;
    height: 300px;
    overflow: hidden;
    background-color: #aec4c4;
    margin: -3px;
    border-radius: 13px;
    border: 8px solid #ffffff;
    padding: 20px;
    overflow: hidden;
}

.dayEvents-events {
    font-family: 'Fredoka';
    color: #1b392c;
    text-align: center;
    margin: auto;
}

.dayEvents-butns 
{   
    background-color: #91b0b5;
    border: none;
    color: #1b392c;
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    transition-duration: 0.4s;
    border-radius: 13px;
    text-align: left;
    
}

.dayEvents-butns:hover
{
  background-color: #3f93a0;
  /* border-radius: 13px; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Manipulates pomodoro.html */

#updateEventCalendar-body {
    width: 500px;
    height: 300px;
    overflow: hidden;
    background-color: #aec4c4;
    font-family: 'Fredoka';
    color: #1b392c;
    font-weight: bold;
}
