#index-body {
    margin: -3px;
    border-radius: 13px;
    border: 8px solid #ffffff;
    padding: 20px;
    min-width: 250px;
    min-height: 300px;
    background-color: #aec4c4;
}

#homebutton {
    position: fixed;
    bottom: 55px;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
}

/* Manipulates calendar.html */

#calendar-body {
    width: 500px;
    height: 400px;
    overflow: hidden;
}
 
.month{
    width:75%;
    height: 12rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 02 rem;
    text-align: center;

}

.weekdays{
    width: 100%;
    display: flex;
}

.weekdays div{
width: calc(44.2rem/7);
display: flex;
justify-content: center;
align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days div{
width: calc(31.2rem/7);
height: 2rem;
display: flex;
justify-content: center;
align-items: center;

}

.upcoming_events{
padding: 02 rem;
width: 100%;
}

/* Manipulates pomodoro.html */

.pomodoro-body {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.pomodoro-title {
    font-size: 30px;
    text-align: center;
}

.pomodoro-status {
    font-size: 15px;
    text-align: center
}

.pomodoro-timer-display {
    font-size: 80px;
    text-align: center;
}

.pomodoro-timer-control {
    text-align: center;
}
